.OuterCircle {
  border-radius: 50%;
  width: 1.8in;
  /* aspect-ratio: 1/1; */
  height: 1.8in;
  color: white;
  /* border: 2px solid black; */
  box-shadow: 1px 1px 15px grey;
  text-shadow: 1px 1px 0px black;
}
.Outer_excellent {
  background: linear-gradient(90deg, #004000, #008000, #b2d8b2);
}
.Outer_good {
  background: linear-gradient(90deg, #0000b2, #4c4cff, #b2b2ff);
}
.Outer_normal {
  background: linear-gradient(90deg, #ffa500, #ffae19, #ffdb99);
}
.Outer_offline {
  background: linear-gradient(90deg, #666666, #999999, #d8d8d8);
}

div.InnerCircle {
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  width: 90%;
  height: 90%;
  border-style: solid;
  border-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

div.InnerCircle > p.InnerText {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

div.HorizontalBar {
  margin-top: -40px;
  display: flex;
  justify-content: space-evenly;
  font-size: 13px;
  font-weight: bold;
}

div.HorizontalBarLeft {
  height: 1cm;
  width: 50%;
  border-radius: 25% 0% 0% 25%;
  display: flex;
  align-content: center;
  justify-content: center;
}

div.HorizontalBarRight {
  height: 1cm;
  width: 50%;
  border-radius: 0% 25% 25% 0%;
  display: flex;
  align-content: center;
  justify-content: center;
}

div.HorizontalBar_excellent {
  background: linear-gradient(0deg, #004000, #008000, #b2d8b2);
}

div.HorizontalBar_good {
  background: linear-gradient(180deg, #0000b2, #4c4cff, #b2b2ff);
}

div.HorizontalBar_normal {
  background: linear-gradient(0deg, #ffa500, #ffae19, #ffdb99);
}
div.HorizontalBar_offline {
  background: linear-gradient(180deg, #666666, #999999, #d8d8d8);
}

p.HorizontalBar_text {
  margin: auto;
  text-align: center;
}
