.displayBoard {
  width: 80%;
  height: auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
  row-gap: 40px;
  padding: 40px;

  margin: 10px auto;
  border: 5px solid black;
}

div.displayBoard > div {
  margin: auto;
}
