#root {
  min-height: 150vh;
  background: repeating-radial-gradient(circle at 0 0, #b3e2f1, #e0f3f9 50px);
}

div.LandingBody {
  background-color: rgba(255, 255, 255, 0.65);
}

h1.PageTitle {
  text-align: center;
}
